.preview-table {
    background: white;
    color: black;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.preview-table td,
.preview-table th {
    border-color: #ededed;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    line-height: 2;
    overflow: hidden;
    padding-left: 6px;
    word-break: normal;
}

.preview-table th {
    font-weight: normal;
}

.preview-table-wrapper {
    max-height: min(500px, 80vh);
    overflow-y: auto;
}


